@use '../../../shared/styles/variables' as *


.todo_list
    //border: solid 1px red
    padding: 2rem 3rem 7rem
    flex-direction: row
    align-content: flex-start
    justify-content: flex-start
    flex-wrap: wrap
    gap: 1rem

.todo_input_form
    position: absolute
    bottom: 1.3rem