//* Transitions
$trans-bg-dur: 0.5s
$trans-style: ease-out
$bounce-style: cubic-bezier(.12, 1.67, .76, .82)


//* Colors
$default-primary-color-light-mode: rgb(59, 72, 84)
$default-primary-color-dark-mode: rgb(215, 215, 215)


//* Other
$rad-main: 50px
$size-main-text: 0.74rem