@use "reset"
@use 'variables' as *


html
    &[data-theme="light"]
        //--primary-color: $default-primary-color-light-mode
        //--primary-color-rgb: $default-primary-color-light-mode-rgb
        --primary-color: rgb(59, 72, 84)
        --primary-color-rgb: 59, 72, 84
        --secondary-color: rgb(215, 215, 215)

    &[data-theme="dark"]
        //--primary-color: $default-primary-color-dark-mode
        //--primary-color-rgb: $default-primary-color-dark-mode-rgb
        --primary-color: rgb(215, 215, 215)
        --primary-color-rgb: 215, 215, 215
        --secondary-color: rgb(59, 72, 84)


body
    overflow: hidden
    transition: color $trans-bg-dur $trans-style
    color: var(--primary-color)
    font-size: $size-main-text

    //* Dark theme
    background: radial-gradient(circle, #2c3942, #21282b)

    //* Light theme cover for smoothness
    &::after
        content: ''
        pointer-events: none
        position: absolute
        left: -50%
        top: -50%
        width: 200%
        height: 200%
        z-index: -10
        background: radial-gradient(circle, #eefbff, #adbfc7)
        border-bottom-right-radius: 50%

        transition: transform $trans-bg-dur $trans-style
        transform: translate(-100%, -100%)
        [data-theme="light"] &
            transform: none


.g_cont
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overscroll-behavior: contain
    flex-shrink: 0
